.icoonBefore a::before {
    content: url("../images/paperclip.png");
}

.icoonImage{
        padding-left: 16px;
        background-image: url("../images/paperclip.png");
        background-repeat: no-repeat;
    }
