.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-gap: 5px;
}

.container .block {
    padding: 20px;
    color: white;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
}

.block.block1{
    background-color: #EF233C;
    grid-column: span 12;
 }
.block.block2{
    background-color: #2B2D42;
    grid-column: span 4;
    grid-row: span 2;
}
.block.block3{
    background-color: #2ecc71;
    grid-column: span 4;
}
.block.block4{
    background-color: #6a478f;
    grid-column: span 4;
}
.block.block5{
    background-color: #3d8bb1;
    grid-column: span 8;
}
.block.block6{
    background-color: #59a627;
    grid-column: span 8;
}
.block.block7{
    background-color: hotpink;
    grid-column: span 4;
}
.block.block8{
    background-color: #275420;
    grid-column: span 12;
}
