.block{
    display: grid;
    gap: 5px;
    padding: 20px;
    color: white;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
}

.block.block1{
    background-color: purple;
}

.block.block2{
    background-color: dodgerblue;
}

.block.block3{
    background-color: darkslateblue;
}

.block.block4{
        background-color: lightblue;
}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 772px){

}

@media screen and (min-width: 320px){

}