p{
    margin: 0px;
    font-size: 1.25em;
}

article{
    border: 1px solid black;
    padding: 10px;
    min-height: 280px;
    margin: 0 10px 10px 0;
}

h2{
    margin-top: 0;
}

article:nth-child(2n + 1) img{
    float: left;
    margin-right: 10px;
}

article:nth-child(2n) img{
    float: right;
    margin-right: 10px;
}