body{
    margin: 0px;
    padding: 0px;
    width:95%;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    margin-left: auto;
    margin-right: auto;
}

header p img{
    margin-right: auto;
    margin-left: auto;
    display: block;
}

#specials{
    width: 30%;
    float: right;
    border: #007e7e solid 1px;
    text-align: center;
    background-image: url("../images/cocktail.gif");
    background-repeat: repeat-x;
    padding: 2%;
    line-height: 1;
    box-sizing: border-box;
}

#origin{
    width: 70%;
    float: left;
    padding-right: 8px;
    box-sizing: border-box;
}

h1{
    font-size: 150%;
}

h2{
    font-size: 130%;
}

h1, h2{
    color: #007e7e;
}

#lemon{
    color: greenyellow;
}

#chai{
    color: rosybrown;
}

#brew{
    color: dimgray;
}

footer{
    font-size: 0.6em;
    text-align: center;
}

#specials a:hover{
    color: brown;
}

a{
    color: #007e7e;
}

#guarantee{
    bottom: 1px;
    border-style: dashed;
    border-color: white;
    margin: 30px;
    padding: 25px;
    color: #444444;
    background: #a7cece url("../images/background.gif") no-repeat top left;
    width: 60%;
}

.Vet{
    font-weight: bold;
}

.Cursief{
    font-style: oblique;
}